
<!DOCTYPE html>
<html lang="ko" >
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="../components/angularjs/angular.js"></script>
    <script src="../js/hello.js"></script>
    <link href="../components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app="hello" ng-controller="HelloController">
    <input type="text" ng-model="hello.msg">
    <br>
    <strong>{{hello.msg}}</strong>
    <br>
    <button ng-click="toUpper()">대문자로 전환!!</button>

    <br>
    <h1>장바구니</h1>
    <span>이름: <span><input type="text" ng-model="item.title"></span></span>
    <span>수량: <span><input type="text" ng-model="item.count"></span></span>
    <span>가격: <span><input type="text" ng-model="item.price"></span></span>
    <button ng-click="add(item)">추가</button>
    <div ng-repeat="item in items">   <!--items 는 $scope에 존재해야한다.-->
        <span>{{$index}}</span>
        <span>{{item.title}}</span>
        <span> 수량 : </span>
        <span><input type="text" ng-model="item.count"></span>
        <span> 가격 : {{item.price}}</span>
        <span> 총합 : {{item.count * item.price}} 원</span>
        <button ng-click="delete($index)">삭제</button>
    </div>
    <br>
    <div >
        전체금액 :: {{sumTotal()}}<br>
    </div>
</body>
</html>